<h4>סקירה</h4>
<p>
    hashtag זה משתנה שקיים רק בתצוגה שמחזיק את כל הproperties של תג html מסוים 
</p>

<h4>פרטים</h4>
<p>
  הכינוי המלא של hashtag באנגולר זה template reference variables,
  <br> נקרא לו בקיצור hashtag כי כך הוא נוצר על ידי <code>#</code> לפני השם שתקעתם לו, לדוגמא: <code>{{ example }}</code>,
  <br> בדוגמא שהבאנו הצגנו את הproperty <code>innerHTML</code> של התג <code>h1</code>,
</p>

<app-complate-example [card]='hashtag' example='https://stackblitz.com/edit/hashtag?file=app/app.component.ts' download='hashtag.zip'></app-complate-example>

<h4>שימושים נוספים</h4>
<p>
  hashtag של component מחזיק את הproperties של הקלאס של הcomponent,
</p>

<app-complate-example [card]='hashtagOfComponent' example='https://stackblitz.com/edit/hashtag-of-component?file=app/app.component.ts' download='hashtag-of-component.zip'></app-complate-example>