<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button routerLinkActive='link-header-active' routerLink="basic/intro">מבוא</a>
    <a mat-button routerLinkActive='link-header-active' routerLink="main">בסיס</a>
    <a mat-button routerLinkActive='link-header-active' routerLink="advenced">מתקדם</a>
    <div class='left-header'>
      <a *ngIf='largeScreen' class="logo" routerLink="">angular</a>
      <a id='contact' mat-button routerLink='contact'>צור קשר</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>