<h4>מה זה אנגולר</h4>
<p>אנגולר זה סביבת עבודה (framework) לצד לקוח (front end)  </p>

<h4>מה נותן אנגולר</h4>
<p>
  לאנגולר יש מספר רב של כלים לפיתוח קל מהיר של תוכנות גדולות ויציבות,
  <br>אנגולר זה סביבת עבודה (framework) שזה אומר שאנגולר זה לא ספריה שרק עושה טבלה או פעולה אחרת אלא זה מקיף את כל תהליך הבניה של האתר,
  <br> אנגולר לא מספק רק כלים בשביל לבצע פקודות בקלות או לשנות את התצוגה בקלות אלא גם כלים שמאפשרים לבנות ארכיטקטורה קלה לתפעול במיוחד באתרים מורכבים וגדולים ששם כמויות גדולות של קוד javascript הופך לגהינום.
</p>

<h4>ידע נדרש</h4>
<p>
  ידע חובה ב html, css ו javascript, אנגולר מבוסס עליהם אין מה לנסות ללמוד אנגולר בלי לדעת את השפות הנ"ל, 
  <br>אתר מעולה ללמוד השפות האלה הוא <a href="https://www.w3schools.com/">w3School</a> .
</p>

<h4>קצת היסטוריה</h4>
<p>
  אנגולר 1 יצא בשנת 2010 ואגולר 2 יצא בשנת 2015,
  <br>אנגולר 1 ואנגולר 2 שונות אחת מהשניה בצורת כתיבה (syntex) ובארכיטקטורה של בניית האתר אבל יש בינהם דמיון רב ,
  <br>אנגולר 1 נקרא כיום angularjs , העידכונים הגדולים של מספר 2 העלו את אנגולר לאנגולר 4, 5 ו6 אבל לא שינו כלל את הצורת כתיבה והארכיטקטורה  מאשר באנגולר 2,
</p>

<h4>קצת על האתר</h4>
<p>
  אם ראיתם את הדוקומנטציה של אנגולר לפחות בעיני היא לא פשוטה להבנה ומערבבת המון ארכיטקטורה עם דוגמאות של הקוד,
  כך שמאוד קשה להבין מה הכלים שיש לאנגולר ומה הצורת כתיבה שלהם ואיך הארכיטקטורה של האתר אמורה להראות,
  באתר הזה יש כל מה שנלמד באתר של אנגולר בחלק  'יסודות' (fundamentals) שזה אומר כל הכלים שקיימים באנגולר ועוד תוספות, אז שיהיה בהצלחה!
</p>
