<h4>node & npm</h4>
<p>
  בשביל שהמחשב יוכל להריץ javascript צריך להתקין <a href='https://nodejs.org/en/download/'>nodejs</a> ,
  <br>ביחד עם node מותקן גם תוכנה שמאפשרת להתקין בקלות ספריות javascript שנקראת npm.
</p>

<h4>command line</h4>
<p>
   כל הניהול היצירה והבניה של אנגולר נעשה על ידי שרת הפקודה,
  <br> בכל בקום באתר נתייחס לשורת הפקודה בכינוי cli ,
  <br> אם אתם לא יודעים כיצד להשתמש בשורת הפקודה קיראו את המדריך <a routerLink='/basic/commandLine'>הבא</a> יש שם גם הסבר קצר על command line.
</p>

<h4>angular cli</h4>
<p>
  angular cli זה הספריה של אנגולר שמאפשרת לבנות פרוייקטים של אנגולר, 
  <br>טכנית אפשר ליצור פרוייקט של אנגולר שיעבוד גם בלי angular cli ,אבל זה דומה לתכנת מערכת הפעלה דרך פינקס רשימות, אפשרי אבל לא כל כך יעיל,
  <br>angular cli התקנה: הקלידו ב cli <span class='cmd'> npm install -g @angular/cli </span>
</p>

<h4>typeScript</h4>
<p>
  typeScript זה הרחבה ל javascript,
  לקבצים של typeScript יש סיומת <code>.ts</code>,
  <br> typeScript הופך את את javascript משפה פונקצוניאלית למונחת עצמים, 
  <br> typeScript לא מוסיפה פונקצוניאלית לשפה אלא רק עושה סדר בקוד על ידי הוספה של קלאסים interface ירושות וכמובן types כמו string או number ולא רק var,
  <br> typeScript לא יכול לרוץ על הדפדפן כמן javascript, אלא חייב לעבור תהליך המרה ל javascript, כך שלמעשה הקוד שיעבוד בשרת בפועל זה לא מה שכתבנו אלא קובץ מצוקמק של javascript,
  <br> גם אם משתמשים בסביבה של typeScript אין שום חובה להשתמש בשפה, למשל אם לא תקבעו type למשתנה לא תקבלו על זה שגיאה,
  <br> אנגולר כוללת בתוכה typeScript, והארכיטקטורה של אנגולר בנויה על typeScript, אין חובה להשתמש ב typeScript, אבל איך נאמר אין גם חובה להשתמש באנגולר.
  <br> בהמשך יש <a routerLink='/basic/typescript'>מדריך</a> על המידע המינימלי שצריך בשביל להשתמש באנגולר,
</p>

<h4>IDE - editor</h4>
<P>לא כל אדיטור תומך בצורה טובה באנגולר 2+, מומלץ להשתמש ב <a href='https://code.visualstudio.com/download'>visual studio code</a> יש לו תמיכה מלאה באנגולר והשלמה אוטמטית יעילה מאוד,</P>


