<p>
  במידה ואתם יודעים להשתמש ב command line עברו למדריך הבא.
</p>

<h4>פתיחה</h4>
<p>
  איך נכנסים: לחצו על מקש חלונות + S , בתיבת חיפוש שנפתחה הקלידו <code>command prompt</code> או <code>powerShell</code> וכנסו לתוצאה, 
  <br>בחלון שנפתח כותבים פקודות ומפעילים אותם על ידי לחיצה על enter,
</p>

<h4>מה זה command line</h4>
<p>
  כשאנחנו מבצעים פעולה במחשב כמו פתיחת תיקייה או פתיחת של תוכנה, מחיקה העתקה ויצירה של קבצים וכו' אנחנו בעצם מפעילים פקודה שהמחשב יודע לתרגם לפעולה בזיכרון ולהראות את התוצאה על המסך,
  <br>את הפקודות האלה עושים בדרך כלל בעכבר , בשורת הפקודה (באנגלית command line) אפשר להפעיל את כל הפקודות בשורת הפקודה,
  <br> לדוגמא כיתבו את הקוד הבא ולחצו enter: <span class='cmd'>explorer =</span> התוצאה זה שהמחשב שלי נפתח,
  <br> תוכנה למשתמש רגיל עושה שימוש בממשק ויזואלי, בתיכנות תוכנות רבות משתמשות בממשק של שורת הפקודה,
  <br> שורת הפקודה מכונה cli, command line, cmd, ו shell, באתר נשתמש בכינוי cli.
</p>

<h4>שימוש בסיסי</h4>
<p>
  ניווט: כמו שבחלונות יש ניווט מתיקייה לתיקייה כך יש גם ב cli ,
  <br>הניווט מתבצע של ידי המילה <code>cd</code> ואחריו את הכתובת הרצויה, לדוגמא <span class="cmd">cd c:\users</span>,
  <br> כדי לראות מה הכתובת של חלון אפשר ללחוץ עם העכבר פעם אחת על שורת הכתובת,
  <br> כשמפעילים פקודה של תוכנה הפקודה תמיד תתחיל בשם של התוכנה, לדוגמא פקודה בnpm נראית כך: <span class="cmd">npm install something</span>.
</p>  
  
<h4>איפה מפעילים פקודות</h4>
<p>
  <br> יש פקודות בסיסיות של המחשב שהcli יבצע בכל כתובת כמו <code>cd</code>, 
  פקודות שמתוכנתות על ידי קבצים אפשר להתקין אותם בשני צורות: מקומי (localy) או גלובאלי (globaly), ההבדל שאם ההתקנה היא מקומית אז הפקודות יעבדו רק בתיקיה שבא נמצא הקובץ שמגדיר את הפקודות, ואם ההתקנה היא גלובאלית אז אפשר להפעיל את הפקודות מכל מקום במחשב,
  <br> root folder (תיקיית הפרוייקט): גם אם ההתקנה היא גלובאלית יש תוכנות שהפקודות שלהם יעבדו רק כאשר נמצאים בתוך התיקייה הראשית של פרוייקט של התוכנה, תיקיית הפרוייקט נקראת root folder,
  <br> בangukar cli הפקודה שיוצרת פרוייקטים תעבוד מכל כתובת במחשב אבל שאר הפקודות יעבדו רק מהroot folder,
</p>

<h4>npm</h4>
<p>
  npm זה תוכנה שבעזרתה מתקינים מעדכנים ומוחקים תוכנות וספריות קוד,
  <br> פקודה של התקנה מתחילה בשם התוכנה <code>npm</code> וממשיכה עם המילה <code>install</code>, אפשר להוסיף <code>-g</code> בשביל שההתקנה תיהיה גלובאלית, ולאחר מכן כותבים את השם של התוכנה,
  <br> לדוגמא התקנה של angular cli נראית כך: <span class="cmd">npm install -g @angular/cli</span>,
  <br> מחיקה של angular cli נראית כך: <span class="cmd">npm remove -g @angular/cli</span>.
</p>