<p>
  הcli מופעל משורת הפקודה בלבד,
  <br>כל פקודה של הcli מתחילה ב <code>ng</code> ,
  <br>חוץ מיצירת פרוייקט כל הפקודות חייבות לפעול כשאתם עומדים בתיקיית הפרוייקט (root folder).
</p>

<h4>יצירת פרוייקט</h4>
<p>
  הקלידו <span class='cmd'>ng new anglar5</span> זה ייצור תיקייה עם השם angular5 שבתוכה יש פרוייקט של אנגולר, ההתקנה יכולה לקחת הרבה זמן כיון שה npm מתקין הר של ספריות שקשורות לאנגולר. 
</p>
<p>
  נווטו לתיקיית הפרוייקט רק משם תוכלו להפעיל את ה cli בפרוייקט שלכם,  
</p>
<p>להלן רשימה של הפקודות הנפוצות של הcli:</p>

<h4>יצירת קבצים</h4>
<p>הcli יוצר עבורנו: א: קובץ עם הקלאס שביקשנו ממנו והקוד המינמלי ההכרחי, ב: יוצר עבור הקובץ תיקייה חדשה שבא הקובץ ועם קבצים אחרים שהוא צריך בcomponent לדוגמא הcli יוצר קבצי html css וקובץ של טסט, ג: הcli רושם את הקלאס שנוצר בקלאס module, </p>
<p>
  <span class="cmd">ng generate type fileName --routing -flat -it -is</span>
  <br> <code>generate</code> - אפשר לכתוב בקיצור g, נראה כך: <span class="cmd">ng g component name</span>.
  <br> <code>type</code> - פה קובעים את סוג הקלאס שאנחנו מעוניינים בו, סוגי הקלאס הם: class, component, directive, enum, guard, interface, module, pipe, service, אפשר לכתוב בקיצור את האות הראשונה של השם של הקלאס, לדוגמא בשביל ליצור component אפשר לכתוב כך: <span class="cmd">ng generate c name</span>.
  <br> <code>name</code> - פה כותבים את השם שבא לכם.
  <br> <code>--routing</code> - אופציונלי, לקבצים מסוג module בלבד, מגדיר ראוטר ויוצר קובץ מודול נוסף שבו נרשם הראוטר, אפשר לבטל את היצירה של המודול הנוסף ולרשום במודול שכבר קיים על ידי הוספה <span class="cmd">-flat</span>
  <br> <code>--flat</code> - אופציונלי, עושה שלא תיווצר תיקיה חדשה אלא הקבצים יתווספו בתיקיית היעד.
  <br> <code>-is</code> - אופציונלי, ל component בלבד, עושה שלא יווצר קובץ style.
  <br> <code>-it</code> - אופציונלי, ל component בלבד, עושה שלא יווצר קובץ html.
</p>

<p>ניתן ליצור תיקיות או להכניס לתיקייה קיימת על ידי כתיבת שם התיקיה וסלאש לפני שם הקבץ כמו זה: <span class="cmd">ng g c folderName/fileName</span> .</p>

<h4>בניית הפרוייקט</h4>
<p>בשביל לעלות את האתר לשרת  חובה לבנות את הפרוייקט על ידי הפקודה <code>build</code>, הפקודה הזאת יוצרת תיקייה חדשה בתיקיית הפרוייקט שנקראת dist, בתוכה נמצאים קבצי ה index.html cssו js שבתוכם מקומפל כל הקוד שכתבנו ואותם מעלים לשרת</p>
<p>
  <span class="cmd">ng build [--prod] [-bh=url]</span>
  <br> <code>--prod</code> - מכווץ את הקבצים הרבה יותר אבל גם לוקח יותר זמן , בשביל שרת פרודקשן זה חובה בגלל שב <code>build</code> רגיל הקבצים גדולים מאוד,
  <br> <code>-bh</code> - אופציונלי, מוסיף url לתג <a href='https://www.w3schools.com/tags/tag_base.asp'><code>base</code></a>, זה הכרחי כשמעלים לשרת כדי שידע איפה תיקיית התוכנה ממוקמת ביחס לשרת,
</p>

<h4>שרת לוקאלי</h4>
<p>
  אחד מהתוספות החזקות של אנגולר, הפעלת האופציה הזאת תעלה לכם שרת לוקאלי (localhost:4200), הcli יעשה build ויעלה באופן אוטומטי את הפרוייקט שלכם  בכל פעם שתשנו קובץ בפרוייקט ותשמרו אותו, 
  <br> זה כלי קריטי לפיתוח של האתר מכיון שהוא מאפשר לכם לראות כל רגע איך האתר שבניתם נראה ועובד בפועל.
</p>
<p>
  <span class="cmd">ng serve -o -p 4201 [</span>
  <br> <code>serve</code> - אפשר גם בקיצור s, נראה כך: <span class="cmd">ng s</span>,
  <br> <code>-o</code> - אופציונלי, פותח אוטומטית את השרת בדפדפן כשהשרת גומר לעלות,
  <br> <code>-p 4200</code> - אופציונלי, מגדיר באיזת פורט יעלה השרת
</p>

<h4>עידכון ספריות קיימות</h4>
<p>
  <span class="cmd">ng update libraryName</span>
  <br> בשביל לעדכן סיפריות בלי לחשוש לקונפליקטים בין העידכונים עדכנו דרך הפקודה הזאת ולא דרך npm,
</p>

<h4>הוספת ספריות</h4>
<p>
  <span class="cmd">ng add libraryName</span>
  <br> בשביל להוסיף ספריות בלי לחשוש לקונפליקטים בין הגירסאות של הסיפריות הוסיפו את הסיפריה דרך הפקודה הזאת ולא דרך npm,
</p>

יש עוד אופציות רבות שאפשר לראות <a href="https://github.com/angular/angular-cli/wiki">כאן</a>.
