<h4>המאפיינים המרכזיים</h4>
<p>
   לאנגולר יש שתי חלקים עיקריים: מודולים וcomponent,
  <br> כלים נוספים שיש לו הם: ראוטר, binding,  service, directive, pipe, interceptor,
</p>

<h4>decorated</h4>
<p>  
  כל הקלאסים של אנגולר מוגדרים על ידי מתודות מסוג שנקרא decorated, 
  <br>המתודות האלה תמיד מתחילות בשטרודל <code>@</code>, הdecorated מגדיר לאנגולר מידע על הקלאס (metadata), 
  <br> לדוגמא קלאס מסוג service מוגדר בדרך כלל על ידי decorated <code>@ingectable()</code> , אז זה יראה כך:
  <app-card [text]='decoratedExample'></app-card>
</p>

<h4>component</h4>
<p>
  component זה הקלאס שמציג את הhtml באנגולר,
  <br> component זה קלאס שמחזיק html css וjavascript, אפשר לדמיין אותו כמו דף html שיש בו תג <code>script</code> ותג <code>style</code>,
  <br> בcomponent מגדירים תג חדש שכתיבה שלו בhtml ,תיצור שם את ה component.
</p>

<h4>מודולים</h4>
<p>
  באנגולר יש חמש סוגי class: module, component, directive, service, pipe, 
  <br> המבנה של פרוייקט אנגולר הוא עץ של קלאסים מסוג מודול, זאת אומרת הקלאס הראשי מחזיק כמה מודולים שמחזיקים מודולים אחרים וכן הלאה,
  <br> מודול יכול להחזיק את כל סוגי הקלאסים, component גם יכול להחזיק קלאסים אבל רק מסוג component או service,
  <br> כל קלאס מכל סוג חייב להירשם במודול אחרת הוא לא יעבוד,
</p>

<h4>ראוטר</h4>
<p>
  באתר רגיל בשביל לעבור מדף html אחד לאחר פונים לשרת לכתובת אחרת, תקשורת עם שרת זה בדרך כלל הדבר שהכי מאט את האתר, (ההורדה של התוכן של האתר לא לוקחת כמעט זמן אלא זמן התגובה מהרגע ששלחנו בקשה לשרת עד הרגע שהחזיר את התוכן המבוקש),
  <br> הראוטר של אנגולר מבטל את הצורך לתקשר עם השרת ומאפשר להוריד את כל התוכן בפעם הראשונה והראוטר מנהל אותו ומחליף את התוכן בהתאם לכתובת שהוקלדה
</p>

<h4>binging</h4>
<p>
  binding זה אומר משתנה שזמין גם ב javascript וגם בhtml, המשתנה הזה מאזין כל הזמן לשינויים לכן ברגע שיהיה שינוי בקוד הוא ישתנה גם בhtml,
  <br> האופציה הזאת נותנת שליטה מאוד חזקה בhtml,
</p>

<h4>service</h4>
<p>
  בכל אתר יש כמעט תמיד צורך לשתף מידע או מתודות (פונקציות) בין חלקים שונים באתר, לדוגמא שם משתמש או אופציה של להתנתק מהמשתמש, באופן אוטומטי אנחנו נרצה להשתמש במשתנה גלובאלי, אבל כמובן זה כלל קדוש שלא משתמשים במשתנים גלובאלים בשביל למנוע התנגשות בין שתי משתנים,
   באנגולר פתרו את זה על ידי service, service זה class גלובאלי שאפשר לגשת אליו מכל קלאס אחר בשתי תנאים, אחד שהקלאס רשום במודול שה service רשום שם, התנאי השני זה שהקלאס קרא לservice במפורש על ידי קוד מיוחד שנקרא <code>inject dependency</code>, בדרך הזאת אפשר לשתף בקלות משתנים ומתודות בלי לחשוש מהתנגשות. 
</p>

<h4>directive</h4>
<p>
  יש שני סוגי directive: מובנים 'built-in' וכאלה שיצרנו 'custom',
  <br> custom: זה קלאס שבונה attribute חדש, הattribute יכול לשנות כל דבר בתג שבו הוא נמצא וכן יכול לגשת לכל מידע שנמצא בו כמו אירועים וערכים, וכן הוא מאפשר לcomponent שבו הוא נמצא לגשת לתג שבו הdirective נמצא, 
  <br> built-in: זה attribute שכבר נוצרו על ידי אנגולר והם מאפשרים בניה ותפעול קל של html דינאמי (זאת אומרת שמשתנים לפי טריגר מסוים).
</p>

<h4>pipe</h4>
<p>
  pipe זה מתודה שמופעלת על ערכים שמצאים בhtml,
</p>

<h4>interceptor</h4>
<p>
  הפונקציה הזאת מאפשרת לעקוב אחרי כל קריאת ajax שנכנסת ויוצאת, לגשת למידע ולבצע עליו פעולות.
</p>

<h4>מבנה הקבצים והתיקיות</h4>
<p>
  בתוך תיקיית הפרוייקט מנווטים לתיקיית src שאר התיקיות הם קבצי מערכת שלא נוגעים בהם בדרך כלל, 
  <br>פירוט התיקיות והקבצים שבתיקיית src:
  <br>תיקיית app - פה נמצאים הקבצי html css ts של הפרוייקט,
  <br>favicon.ico - האייקון שיופיע בראש הטאב של הדפדפן שיפתח את האתר,
  <br>index.html - לא משנים בגדול כלום למעט cdn לcss וjs ותגיות meta לפי הצורך, מומלץ מאוד לא להוסיף לתג body כלום,
  <br>style.css - הcss שתכניסו לכאן ישפיע על כל הhtml בפרוייקט,
</p>
<p>
  שאר התיקיות והקבצים הם שייכים להגדרות של אנגולר שבדרך כלל לא מתעסקים איתם.
</p>

